{:system/env
 #profile {:dev  :dev
           :test :test
           :prod :prod}

 :server/http
 {:port    #long #or [#env PORT 3000]
  :host    #or [#env HTTP_HOST "0.0.0.0"]
  :handler #ig/ref :handler/ring}

 :handler/ring
 {:router                #ig/ref :router/core
  :site-defaults-config  {:params    {:urlencoded true
                                      :multipart  true
                                      :nested     true
                                      :keywordize true}
                          :security  {:anti-forgery false}
                          :static    {:resources "public"}
                          :responses {:not-modified-responses true
                                      :absolute-redirects     true
                                      :content-types          true
                                      :default-charset        "utf-8"}}}

 :db/sqlite
 {:dbname #or [#env DB_NAME "db/app.sqlite"]}

 :reitit.routes/pages
 {:db #ig/ref :db/sqlite}

 :router/routes
 {:routes #ig/refset :reitit/routes}

 :router/core
 {:routes #ig/ref :router/routes
  :env    #ig/ref :system/env}}
